html {  
    scroll-behavior: smooth;  
}
#main-container{
   box-sizing: border-box; 
  padding: 0;
  margin: 0;
}
.navbar{
    position: fixed;
    width: 100%;
}
#left-section{
height: 100vh;
width: 30%;
background-color: #bd5d38;
line-height: 5pt;
display: flex;
justify-content: center;
position: fixed;
bottom: 0;
left: 0;
}

#titles-list>h5:hover{
cursor: pointer;
color: white;
}
#page-1{
   margin-left: 20px;
   align-items: center;
   justify-content: center;
   height: 100vh; 
   display: flex;
}
#right-section{
width: 70%;
margin-left: 30%;
background-color: rgba(0,0,0,0.6);
color: white;
margin-right: 20px;

}
#contacts-section{
   margin-top: 30px;
   
}
i:hover{
    cursor: pointer;
    color: #bd5d38;
}
#last-name{
    color:#bd5d38; 
    
}
#name{
    font-size: 70px;
    font-weight: 700;
}
#profile-pic-div{
    height: 150px;
    width: 150px;
   margin-top: 200px;
   }
#profile-pic{
  height: 100%;
  width: 100%;
  border: 7px solid rgb(243, 167, 137);
  border-radius: 100px;
}
#contacts-section{

}
#titles-list{
    color: rgb(226, 197, 186);
    font-weight: 300;
    margin-left: 4px;
    text-align: center;
    line-height: 20px;
}
h5{
    line-height: 1.6;
}
@media only screen and (min-width:1000px) {
    .navbar{
        display: none;
        background-color: #bd5d38;
    }
    
}
@media only screen and (max-width:1000px) {
    #right-section{
       box-sizing: border-box;
       margin: 0;
       padding: 0;
      
       width: 100vw;
       background-color: rgba(0,0,0,0.6);
        color: white;
    }
    #left-section{
        display: none;
    }
    .forminscreen{
    box-sizing: border-box;
    padding: 30px;
    margin-right: 3px;
    width: 100vw;
   
}
}
/*PAGE-2 EDUCATION*/
#container-2{
    height: 100vh;
    display: flex;
    align-items: center;
   
}
#education{
      margin-left: 30px;
    height: 100vh;
    align-items: center;
    
}
#page-2{
 
   margin-left: 20px;
   margin-top: 30px;
   
}
/*PAGE-3  TRAINING*/
#container-3{
    height: 100vh;
    display: flex;
    align-items: center;
   
}
#training{
   
   margin-left: 30px;
    height: 100vh;
    
}
#page-3{
   margin-left: 20px;
   margin-top: 50px;
}

/*PAGE-4  PROJECTS*/
#container-4{
    height: 100vh;
    display: flex;
    align-items: center;
   
}
#projects{
   
   margin-left: 30px;
    height: 100vh;
    
}
#page-4{
   margin-left: 20px;
   margin-top: 50px;
}


/*PAGE-5  others*/
#container-5{
    height: 100vh;
   
    align-items: center;
   
}
#others{
   
   margin-left: 30px;
    height: 100vh;
    
}
#page-5{
   margin-left: 20px;
   margin-top: 50px;
}
#section2{
    height: 100vh;
    
    
}
.nav-link{
    color: white;
    font-weight: 600;
    font-size: larger;
}
.nav-link:hover{
    color: #cea18f;
}
.resume{
    border: white 1px solid;
    border-radius: 5px;
    color: white;
    background-color: transparent;
   font-size: 15px;
}